<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.fooddelivery.mapper.ReviewMapper">
    <insert id="insert">
        INSERT INTO review(user_id,order_id,dish_id,rating,content,create_time)
        VALUES(#{userId},#{orderId},#{dishId},#{rating},#{content},#{createTime})
    </insert>
    <select id="selectById" resultType="com.example.fooddelivery.entity.Review">
        SELECT * FROM review WHERE id=#{id}
    </select>
    <delete id="deleteById">
        DELETE FROM review WHERE id=#{id}
    </delete>
    <select id="selectByDishId" resultType="com.example.fooddelivery.entity.Review">
        SELECT * FROM review WHERE dish_id=#{dishId}
    </select>
    <select id="selectByUserId" resultType="com.example.fooddelivery.entity.Review">
        SELECT * FROM review WHERE user_id=#{userId}
    </select>
</mapper>